.comment-form {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-inner {
  background: white;
  padding: 15px;
  border-radius: 12px;
  border: 3px solid var(--bg);
  width: 300px;
  box-shadow: 0 0 8px rgba(41, 113, 237, 0.5);
}

.form-inner textarea {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  border-radius: var(--radius-btn);
  border: 1px solid #969393;
  transition: 0.2s ease;
  padding: 10px 12px;
}

.form-inner textarea:focus {
  border: 2px solid #969393;
  outline: none;  
}

.star-select {
  width: 30px;
  height: 30px;
  color: #ccc;
  cursor: pointer;
}

.star-select.selected {
  color: gold;
}

.form-btn {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
