.business-page {
  width: 100%;
  height: 100%;
  background: var(--bg);
}

.business-content {
  margin-top: 90px;
  padding: 0 30px;
}

.verify-warning {
  background: #ffe9e9;
  border-left: 5px solid #d9534f;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.warning-icon {
  width: 35px;
  height: 35px;
  color: #d9534f;
}

.verify-warning h2 {
  margin: 10px 0 5px;
}

.verify-button {
  background: #d9534f;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.verified-box {
  display: flex;
  align-items: center;
  gap: 10px;

  background: #e6ffed;
  padding: 15px;
  border-radius: 10px;
  border-left: 5px solid #45a049;
  margin-bottom: 25px;
}

.verified-icon {
  width: 28px;
  height: 28px;
  color: #45a049;
}

.business-form input,
.business-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.coord-row {
  display: flex;
  gap: 10px;
}

.add-business-btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;

  background: var(--primary-color);
  color: white;

  border: none;
  padding: 12px 15px;
  border-radius: 8px;

  cursor: pointer;
}

.add-icon {
  width: 20px;
  height: 20px;
}

.section-title {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}

.business-item {
  padding: 15px;
  background: white;
  border-radius: 10px;
  border: 1px solid #eee;
}

.complaints-box {
  padding: 15px;
  background: white;
  border-radius: 10px;
  border: 1px solid #eee;
}

.updates-box textarea {
  width: 100%;
  padding: 10px;
  height: 80px;
  border-radius: 10px;
}

.update-btn {
  background: var(--secondary-color);
  border: none;
  padding: 10px 16px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}
