.side-panel {
  position: fixed;
  left: 0;
  top: 70px;
  width: 330px;
  height: calc(100vh - 70px);
  background: #ffffff;
  border-right: 1px solid #dcdcdc;
  overflow-y: auto;
  z-index: 1500;
  display: flex;
  flex-direction: column;
}

.side-panel-inner {
  padding: 20px;
}

.side-panel-inner h2 {
  margin: 0 0 20px 0;
  font-size: 22px;
  font-weight: 600;
  color: var(--secondary-color);
}
