* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}


:root {
    --primary-color: #0077cc;
    --secondary-color: #CF7929;
    --basic-background: #ffffff;
    --bg: #E8EAEA;
    --transparent-bg: #e8eaeadb;

    --primary-hover: #035c9c;
    --secondary-hover: #b16722;

    --text-light: #ffffff;

    --radius: 1rem;
    --radius-btn: 0.5rem;
    --shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

    background-image: url('../../public/city_bg.jpg'); 
    background-repeat: no-repeat;                  
    background-position: center center;           
    background-size: cover;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

hr {
  border: none;
  border-top: 2px solid #ccc;
  border-radius: var(--radius-btn);
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: var(--radius-btn);
    cursor: pointer;
}

.button-primary {
    background-color: var(--primary-color);
    color: var(--text-light);
    transition: 0.2s;
}

.button-primary:hover {
    background-color: var(--primary-hover);
}

.button-secondary {
    background-color: var(--secondary-color);
    color: var(--text-light);
    transition: 0.2s;
}

.button-secondary:hover {
    background-color: var(--secondary-hover);
}

.button-cancel {
    background-color: #a4a4a4;
    color: var(--text-light);
    transition: 0.2s;
}

.button-cancel:hover {
    background-color: #7b7a7a;
}

.avatar {
  background: linear-gradient(135deg, var(--primary-color), #a7be4d, var(--secondary-color));
  border-radius: 50%;
  color: var(--basic-background);
}